@model CompanyJLSV7.Models.Facturas

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Facturas1 }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
