@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div id="textopapa" style="text-align:center">
            <h1 id="title" style="font-family:'Times New Roman'; font-size: 60px">Bienvenidos.  </h1>
            <p class="lead" style="font-family:'Times New Roman'; font-size: 25px">Encontrará diversidad de menus con mucha gastronomia</p>
        </div>

        <div id="imagenCompany" style="text-align:center">
            <img src="~/Imagenes/companyiamn2.jpg" ; width="400" height="180" />
        </div>

    </section>

    
</main>