@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="row" aria-labelledby="CompanyJLS">
        <h1 id="title">CompanyJLS</h1>
        <p class="lead">Bienvenido a CompanyJLS (Gestor de restaurantes)</p>
        
    </section>

    
</main>